:host {
    width: 100%;
    display: block;
}

.input {
    width: 100%;
    height: 43px;
    border: 2px solid var(--text);
    border-radius: 40px;
    color: var(--text);
    background: var(--background);
    font-size: 12px;
    padding: 7px 15px 7px 30px;
    box-sizing: border-box;
}

.input:focus {
    background-color: var(--text);
    color: var(--background);
    outline: none;
}

.input::placeholder {
    opacity: 0.5;
    font-size: 14px;
}

.input:valid {
    font-weight: 400;
}

.input:out-of-range {
    /* Solis Falco UI customization
    font-weight: 600;
    color: white;
    border: 2px solid var(--danger);
    background-color: var(--danger); */
}

.input:in-range {
    /* Solis Falco UI customization
    background-color: var(--done);
    border: 1px solid var(--done); */
}

.input:disabled {
    border: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
}

.input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}