<app-title-bar>
    <h3><span class="icon active">package</span> Preparando actualización</h3>
</app-title-bar>
<div class="flex-perfect-center flex-column" style="width: 100%; height: calc(100% - 54px);">
    <div class="flex-perfect-center flex-column bordered" style="width: 400px; background: rgba(var(--textRGB), .05); border-radius: 10px;">
        <app-list-item class="dimmed" style="width: 100%;">
            <span class="icon done">done_circle</span>
            <span style="margin-left: 10px;">Limpiando</span>
        </app-list-item>
        <app-list-item style="width: 100%;">
            <app-spinner></app-spinner>
            <span style="margin-left: 10px;">Realizando copia de seguridad</span>
        </app-list-item>
        <app-list-item class="dimmed" style="width: 100%;">
            <span>-</span>
            <span style="margin-left: 10px;">Copiando nuevo binario</span>
        </app-list-item>
    </div>
    <span class="dimmed">Solis Tagger 3 postInstall Agent</span>
</div>