<div id="tagger-settings">

    <app-title-bar>
        <h3 class="to-bottom" style="margin-left: 25px;">{{ 'settings.attributions.title' | translate }}</h3>
    </app-title-bar>

    <div class="content ease-in" style="overflow: visible;">
        <h1 style="margin-left: 0px 0px 5px 0px;">Colaboradores</h1>
        <div class="flex-row" style="align-items: center;">
            <img style="width: 40px; border-radius: 20px;" src="https://avatars.githubusercontent.com/u/43728113?v=4">
            <h4 style="margin-left: 10px;">Marcos Rodríguez</h4>
            <button style="margin-left: auto;">Visitar perfil</button>
        </div>
        <span style="margin-top: auto;" class="dimmed spanSubtitle">Apple and Apple Music are trademarks of Apple Inc., registered in the U.S. and other countries.</span>
    </div>
</div>