:root {
    --background: white;
    --background-rgb: 255,255,255;
    --text: black;
    --text-rgb: 0,0,0;
    --accent: #0080FF;
    --done: #00da74;
    --darkmode: 0;
}

* {
    font-family: 'Poppins';
    font-weight: 400;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}

html {
    background: var(--background);
    color: var(--text);
    overflow: hidden;
}

body {
    overflow: hidden;
}

h1, h2 {
    font-weight: 700;
}

.icon {
    font-family: 'Solis Falco Icons';
}

.title24 {
    font-size: 24pt;
    font-weight: 700;
}

.title32 {
    font-size: 32pt;
    font-weight: 700;

}

.t-icon {
    font-size: 38pt;
    margin-bottom: 10px;
}

.active {
    color: var(--accent);
}

.modal {
    background: rgba(var(--background-rgb), 0.7);
    backdrop-filter: blur(20px);
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
}

.dimmed {
    color: rgba(var(--text-rgb), 0.1);
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.invert {
    filter: invert(var(--darkmode));
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --background-rgb: 0,0,0;
        --text: white;
        --text-rgb: 255,255,255;
        --darkmode: 1;
    }
}

@media (prefers-reduced-motion) {
    .in {
        animation: linear 0s in;
    }
}

.in {
    animation: linear 0.2s in;
}

@keyframes in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotate {
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -ms-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
  }

@font-face {
    font-family: 'Solis Falco Icons';
    font-weight: bold;
    src: url('./assets/SolisFalcoIcons.ttf');
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/Poppins/Poppins400-ltn.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/Poppins/Poppins700-ltn.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar {
    display: none;
}