#matchGallery {
    height: 100vh;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    background: rgba(var(--text-rgb), 0.05);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: scroll;
}

.match {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    background: rgba(var(--text-rgb), 0);
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.15s;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
}

.match:hover {
    transform: scale(1.05)
}

.match > img {
    width: 200px;
    height: 200px;
}

.match > div {
    background: rgba(var(--background-rgb), 0.8);
    width: 100%;
    height: 70px;
    bottom: 0px;
    position: absolute;
    padding: 7px 5px 0px 10px;
    box-sizing: border-box;
}

#currentMatchPanel {
    width: calc(100vw - 250px);
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

#currentMatch {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#artist {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
}

#tag {
    margin-top: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cover {
    position: relative;
    z-index: 20;
    cursor: pointer;
    border-radius: 100%;
    transition: ease-in-out 0.2s;
    min-width: 250px;
    width: 250px;
    min-height: 250px;
    height: 250px;
    background: var(--background);
    will-change: transform;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
#cover:hover {
    transform: translateY(120px) scale(1.8);
    border-radius: 20px;
    /* box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.8); */
}

#editMode > * {
    margin: 10px;
}

#editMode:last-child::after {
    content: '';
    width: auto;
}

#details {
    border-radius: 10px;
    border: 1px solid rgba(var(--text-rgb), 0.5);
    width: 100%;
    height: 100%;
    padding-bottom: auto;
    box-sizing: border-box;
    overflow-y: scroll;
}

#details::after {
    content: '';
    margin-bottom: auto;
    height: calc(100px + auto);
    display: inline;
}

#details > div {
    /* border-radius: 5px; */
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between   
}

#details div:hover {
    background: var(--text) !important;
    color: var(--background);
    
}

#details div:active {
    background: var(--accent) !important;
    color: white;
}

#details > div > h5 {
    font-weight: inherit;
}

#details div:nth-child(odd) {
    background: rgba(var(--text-rgb), 0.05);
}
#details div:nth-child(even) {
    background: rgba(var(--text-rgb), 0);
}

#confirm {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 110;
    width: 100vw;
    height: 100vh;
    background: var(--background);
}